
<nav class="navbar navbar-inverse navbar-dark" style="background-color: rgb(32, 87, 109)">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" style="color: whitesmoke" href="{% url 'images' %}">Photos Gallery</a>
      </div>

      <div class="dropdown show">
        <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" 
        aria-expanded="false" style="color: whitesmoke">
          View Photos Based On Location 
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {%for location in locations %}
            <a class="ml-3" style="font-weight: bolder" href="{% url 'location' location.id %}">{{location}}</a>
            {% endfor %}
        </div>
      </div>

      <!-- Adding a search form -->
  
      <div class="col-sm-4 col-md-4 navbar-right">
        <form action="{% url 'search_results' %}" class="navbar-form" role="search">
          <div class="input-group">
            <input type="text"  class="form-control fa fa-search" placeholder="Search Photos Category..." name="category">
            <div class="input-group-btn">
              <button class="btn btn-default" style="color: whitesmoke" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>