body {
    background: #f3f0f0;
    color: rgb(71, 71, 71);
  }

  
 p{
   color: black;
   margin-top: 4%;
 }
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  
  
 
  